#about_me {
  padding: 155px 0;
  opacity: 0;
}

#about_me figure img {
  border-radius: 50%;
  width: min(90vw, 480px);
  height: min(90vw, 480px);
  transition: 0.2s ease-in-out;
}

@media (max-width: 700px) {
  #about_me {
    padding: max(10vw, 8vh) 0;
  }
}
