.project-list {
  margin: auto;
  padding: 350px 0;
  width: 80%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.project figure {
  flex: 2;
  margin: auto;
  padding: 5px;
	text-align: center;
}

.project figure img {
  z-index: -1;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  transition: 0.2s ease-in-out;
}

figure img:hover {
  filter: brightness(0.7);
  transition: 0.2s ease-in-out;
}

figure figcaption {
  padding-top: 6px;
}

#pixelart, .pixelimage {
  image-rendering: pixelated;
}

.project .project-text {
  flex: 3;
  margin: auto;
  padding: 5px;
}

.project-text p {
  width: 90%;
}

#project-section {
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  .project figure img {
    width: min(35vw, 450px);
    height: min(35vw, 450px);
  }

  .project h1 {
    font-size: 48px;
  }

  #project-section {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  .project {
    flex-direction: column;
  }

  .project figure {
    flex: 1;
  	text-align: center;
    margin-top: 50px;
  }

  .project figure img {
    width: min(35vw, 450px);
    height: min(35vw, 450px);
  }

  .project .project-text {
    flex: 1;
  }

  .project h1 {
    font-size: 36px;
  }

  #project-section {
    font-size: 36px;
  }
}
